<h3>Product-List</h3>
<div class="container">
    <table class=" table table-bordered" border="5">
        <tr>
         <th>Id</th>
         <th>Title</th>
         <th>Price</th>
        </tr>
        <tr *ngFor="let product of productData">
         <td>{{product.id}}</td>
         <td (click)="getDetails(product)" class="productTitle">{{product.title}}</td>
         <td>{{product.price}}</td>
         
        </tr>
     </table>
     <div *ngIf="flag">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Product Details</h5>
           
              <div class="card-text">
                <ul>
                    <li>
                        product id: {{productInfo.id}}
                    </li>
                    <li>
                        product Title:{{productInfo.title}}
                    </li>
                    <li>
                        product Price: {{productInfo.price}}
                    </li>
                    <li>
                        product stocks: {{productInfo.stocks}}
                    </li>
                </ul>
            </div>
             
            </div>
          </div>
     </div>
</div>
<button class="btn" (click)="clickfunc()">click karo</button>
<table>
    <tr *ngFor = "let student of getdata">
        <td>{{student.id}}</td>
        <td>{{student.first_Name}}</td>
        <td>{{student.Last_Name}}</td>
        <td>{{student.age}}</td>
        <td>
            <button (click)="toDelete(student.id)">delete</button>
        </td>
    </tr>
</table>
<div class="container">
    
    <form class=" w-50 border border-danger p-5" #postForm = "ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input type="text"  ngModel  class="form-control"  name="first_Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Last Name</label>
          <input type="text" class="form-control" ngModel name="last_Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Age</label>
            <input type="number" class="form-control" ngModel name="age">
          </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Course Id</label>
            <input type="number" class="form-control" ngModel name="courseId" >
          </div>
        <button type="submit" (click)="dataToPost(postForm.value)" class="btn btn-primary">Submit</button>
      </form>
</div>
